<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.farm">

    <application
        android:name="project.mvp.application.FarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="project.login.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="project.login.LoginPassWordActivity" />
        <activity android:name="project.login.RegisterActivity" />
        <activity android:name="project.login.GuideActivity" />
        <activity android:name="project.login.LoginMessageActivity" />
        <activity android:name="project.login.MainActivity" />
        <activity android:name="project.login.FindPassWordActivity"/>
    </application>

</manifest>